@page "/fetchdata"
@using CarLicenseInfo.Pure.Shared
@inject Pure.Shared.CarLicenseInfo.CarLicenseInfoClient CarLicenseInfoClient

<h1>KFZ Kennzeichen Abfrage</h1>

<p>Es können die Landkreise/Städte zu einem KFZ-Kennzeichen gesucht werden.</p>

<EditForm Model="@request" OnValidSubmit="@GetCarLicenseInfo">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="licensePlate" @bind-Value="request.LicensePlate" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private CarLicenseInfoRequest request;
    private CarLicenseInfoResponse response;

    private async Task GetCarLicenseInfo()
    {
        response = await CarLicenseInfoClient.GetCarLicenseInfoAsync(request);

    }

}
